sudo: required

services:
  - docker

language: go

env:
  global:
    - TRAVIS_TAG=test
    - COMMIT=${TRAVIS_COMMIT::7}

go:
  - "1.10.x"

install:
  - go get -u gopkg.in/alecthomas/gometalinter.v2
  - gometalinter.v2 --install

script:
  - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"
  - ./build/ci/travis.sh "$DOCKER_USERNAME" "$COMMIT"
